body {
    background-color: #4c566a;
    color: #d8dee9;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

nav {
    grid-area: nav;
    background-color: #3B4252;
    color: #ECEFF4;
    padding: 10px;
}

main {
    grid-area: main;
    padding: 20px;
}

.menu-vertical {
    background-color: #3B4252;
    color: #ECEFF4;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
}

.menu-vertical ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

.menu-vertical ul li {
    padding: 10px;
}

.menu-vertical ul li a {
    text-decoration: none;
    color: #ECEFF4;
}

.menu-vertical ul li:hover {
    background-color: #434C5E;
}

.imagem-redonda {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.container {
    text-align: center;
    padding: 20%;
}
.imagem-logo {
    width: 100px;
    height: 100px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #2e3440;
}